<header>
    <nav>
        <a href="/">MMDb</a>
        <a href="/favorites"><img src="/img/star.png" alt="favorite"></a>
        <form action="/" method="post">
            <input type="text" placeholder="e.g. The Godfather">
            <input type="submit" value="Submit">
        </form>
        <a href="/addMovie">Add your own</a>
    </nav>
</header>