<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= myPageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./partials/head') %>
        <main>
            <section id="addMovies">
                <h1>Add your own movies</h1>
                <form action='/addMovie/send' method="POST">
                    <input type="text" name='title' placeholder="Title" required>
                    <input type="number" name='year' placeholder="Year of release" required>
                    <input type="text" name='director' placeholder="Director's Name" required>
                    <input type="text" name='duration' placeholder="Duration" required>
                    <input type="text" name='genre' placeholder="Genre" required>
                    <input type="number" name='rate' placeholder="Rating" required>
                    <input type="url" name='movieposter' placeholder="Url to the Movie Poster" required>
                    <input type="message" name="description" placeholder="Movie Decription" required>
                    <input type="submit" value="SEND">
                </form>
            </section>
        </main>
        <%- include('./partials/foot') %>
</body>

</html>