<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= myPageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- JS & CSS library of MultiSelect plugin -->
    <!-- <script src="/multiselect/jquery.multiselect.js"></script> -->
    <!-- <link rel="stylesheet" href="multiselect/jquery.multiselect.css"> -->
</head>

<body>
    <%- include('./partials/head') %>
        <main>
            <section id="addMovies">
                <h1>Add your own movies</h1>
                <!-- <form action='/addMovie/send' method="POST">
                    <input type="text" name='title' placeholder="Title" required>
                    <input type="number" name='year' placeholder="Year of release" required>
                    <input type="text" name='director' placeholder="Director's Name" required>
                    <input type="text" name='duration' placeholder="Duration" required>
                    <input type="text" name='genre' placeholder="Genre" required>
                    <input type="number" name='rate' placeholder="Rating" required>
                    <input type="url" name='movieposter' placeholder="Url to the Movie Poster" required>
                    <input type="message" name="description" placeholder="Movie Decription" required>
                    <input type="submit" value="SEND">
                </form> -->
                <form action='/addMovie/send' method="POST">
                    <input type="text" name='title' placeholder="Title" required>
                    <input type="number" name='year' placeholder="Year of release" required>
                    <input type="text" name='director' placeholder="Director's Name" required>
                    <input type="text" name='duration' placeholder="Duration" required>
                    <label for="genre"> Select genres</label>

                    <select name="genre" id="genres" multiple>
                        <option value="drama">drama</option>
                        <option value="romance">romance</option>
                        <option value="fiction">fiction</option>
                        <option value="horror">horror</option>
                    </select>

                    <input type="number" name='rate' placeholder="Rating" required>
                    <input type="url" name='movieposter' placeholder="Url to the Movie Poster" required>
                    <input type="message" name="description" placeholder="Movie Decription" required>
                    <input type="submit" value="SEND">
                </form>

            </section>
        </main>
        <%- include('./partials/foot') %>
            <!-- <script>
                $('#genres').multiselect({
                    columns: 1,
                    placeholder: 'Select Languages',
                    search: true
                });
            </script> -->
</body>

</html>