<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= myPageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">MMDb</a>
            <a href="/favorites"><img src="/img/star.png" alt="favorite"></a>
            <form action="/" method="post">
                <input type="text" placeholder="e.g. The Godfather">
                <input type="submit" value="Submit">
            </form>
            <a href="">Add your own</a>
        </nav>
    </header>
    <h1>home</h1>
    <!-- <form action="/" method="POST">
        <input type="text" name='title' placeholder="Title" required>
        <input type="text" name='urlPicture' placeholder="Picture for Article" required>
        <input type="text" name='author' placeholder="Author Name" required>
        <input type="url" name='authorPic' placeholder="Picture of the Author" required>
        <input type="message" name='text' placeholder="Your Article" required>
        <input type="submit" value="SEND ARTICLE">
    </form> -->
    <div class="line">
        <div class='eye1'></div>
        <div class='eye2'></div>
    </div>
</body>

</html>