@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$green-color: #439d8f;
$white-color:#FFFFFF;
$dark-color:#274753;
$pink-color:#a16171;
$yellow-color:#e9c46a;
$fontText:'Poppins', sans-serif;
$fontTitles:'Poppins', sans-serif;


*{
    box-sizing: border-box;
    margin: 0;
    font-family: $fontText;
}
// HOME
body{
    background-color:$dark-color; 
}
/* NAV */
nav{
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
    border-bottom: solid 1px var(--black-color);
}
body h1{
    text-align: center;
}
nav a{
    text-decoration: none;
    color: var(--black-color);
}
nav a:hover{
    border-bottom: solid var(--black-color) 3px;
}

/* FORM */
form{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
}
form input{
    padding: 1em;
}
form input:last-of-type{
    color: var(--white-color);
    padding: 1em;
    background-color: var(--black-color);
}


/* eyes */
.line{
    margin-top: 4em;
    border-top: solid 2px var(--black-color);
    position: relative;
}
.eye1,.eye2 {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 30px;
    left: 50%;
    bottom: -20px;
    background-color: var(--white-color);
    border:solid 1px var(--black-color)
}
.eye2 {
    left: 52.5%;
}
.eye1:after, .eye2::after { /*pupil*/
    position: absolute;
    right: 3px;
    width: 15px;
    top: 15px;
    height: 25px;
    background: #000;
    border-radius: 50%;
    content: " ";
}

