@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #274753;
}

body header {
  /* NAV */
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 4em;
  margin: 1em 0;
  border-bottom: solid 1px #439d8f;
}

body header nav a:nth-of-type(1) {
  color: #439d8f;
  font-size: 2em;
}

body header nav a {
  text-decoration: none;
  color: #439d8f;
}

body header nav a img {
  width: 2em;
}

body header nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

body header nav form input {
  padding: 1em;
  border-radius: 1em;
  outline: none;
  border: solid #439d8f 3px;
}

body header nav form input:focus {
  outline: none;
}

body header nav form input:first-of-type {
  width: 70%;
  color: #439d8f;
  background-color: #274753;
}

body header nav form input:last-of-type {
  color: #FFFFFF;
  padding: 1em;
  background-color: #439d8f;
  width: 20%;
}

body main {
  min-height: 100vh;
  padding: 2em 4em;
}

body main #home_allMovies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
  color: #FFFFFF;
}

body main #home_allMovies article {
  padding: 2em;
}

body main #home_allMovies article figure {
  width: 100%;
}

body main #home_allMovies article figure a img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

body main #home_allMovies article figure figcaption p:nth-of-type(2) {
  color: #439d8f;
}

body main #movie_detail {
  color: #FFFFFF;
}

body main #movie_detail h1 {
  color: #a16171;
}

body main #movie_detail h3 {
  margin-bottom: 2em;
}

body main #movie_detail a {
  border: #e9c46a solid 2px;
  text-decoration: none;
  color: #e9c46a;
  padding: 0.5em;
  border-radius: 1em;
}

body main #movie_detail article {
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #movie_detail article figure {
  width: 50%;
  padding-right: 2em;
}

body main #movie_detail article figure img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

body main #movie_detail article figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main #movie_detail article div {
  width: 50%;
}

body main #movie_detail article div p span {
  background-color: #439d8f;
  border-radius: 1em;
  padding: 0.5em;
  margin-right: 0.5em;
}

body main #movie_detail article div h1 {
  color: #a16171;
  padding: 2em 0;
}

body main #addMovies {
  /* FORM */
}

body main #addMovies form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em auto;
}

body main #addMovies form input {
  padding: 1em;
}

body main #addMovies form input:last-of-type {
  color: #274753;
  padding: 1em;
  background-color: #439d8f;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #274753;
  background-color: #439d8f;
  padding: 3em;
}

body footer a {
  text-decoration: none;
  color: #274753;
}
/*# sourceMappingURL=style.css.map */