@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$green-color: #439d8f;
$white-color:#FFFFFF;
$dark-color:#274753;
$pink-color:#a16171;
$yellow-color:#e9c46a;
$fontText:'Poppins', sans-serif;
$fontTitles:'Poppins', sans-serif;


*{
    box-sizing: border-box;
    margin: 0;
    font-family: $fontText;
}
// HOME
body{
   
    background-color:$dark-color; 
    header{
        /* NAV */
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:2em 4em;
            margin: 1em 0;
            border-bottom: solid 1px $green-color;
            a:nth-of-type(1){
                color: $green-color;
                font-size: 2em;
            }
            a{
                text-decoration: none;
                color: $green-color;
                img{
                    width: 2em;
                }
            }
            a:hover{
                // border-bottom: solid $green-color 3px;
            }
            form{
                display: flex;
                justify-content: space-between;
                // outline: $yellow-color solid;
                width: 60%;
                input{
                   padding: 1em;
                   border-radius: 1em;
                   outline: none;
                   border: solid $green-color 3px;
                   color: $white-color;
                }
                input:focus{
                    outline: none;
                }
                
                input:first-of-type{
                    width: 70%;
                    color: $green-color;
                    background-color: $dark-color;
                }
                input:last-of-type{
                    color: $white-color;
                    padding: 1em;
                    background-color: $green-color;
                    width: 20%;
                }
            }
        }
    }
    main{
        min-height: 100vh;
        padding: 2em 4em;
        #home_allMovies{
            display: grid;
            // border-style: solid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3em;
            color: $white-color;
            article{
                // border-style: solid;
                padding: 2em;
                figure{
                    width: 100%;
                    a{
                        img{
                            width: 100%;
                            object-fit: fill;
                        }
                    }
                    figcaption{
                        p:nth-of-type(2){
                            color: $green-color;
                            margin-bottom: 1em;
                        }
                    }
                }
                .ancher_yellow{
                    border: $yellow-color solid 2px;
                    text-decoration: none;
                    color: $yellow-color;
                    padding: 0.5em;
                    border-radius: 1em;
                    
                }
            
            }
        }
        #movie_detail{
            color: $white-color;
            h1{
                color: $pink-color;
            }
            h3{
                margin-bottom: 2em;
            }
            .ancher_yellow{
                border: $yellow-color solid 2px;
                text-decoration: none;
                color: $yellow-color;
                padding: 0.5em;
                border-radius: 1em;
                
            }
            .ancher_green{
                border: $green-color solid 2px;
                text-decoration: none;
                color: $green-color;
                padding: 0.5em;
                border-radius: 1em;
                
            }
            article{
                padding-top: 2em;
                display: flex;
                figure{
                    width: 50%;
                    padding-right: 2em;
                    img{
                        width: 100%;
                        object-fit: fill;
                    }
                    figcaption{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                div{
                    width: 50%;
                   p{
                       span{
                           background-color: $green-color;
                           border-radius: 1em;
                           padding: 0.5em;
                           margin-right: 0.5em;
                       }
                   }
                   h1{
                       color: $pink-color;
                       padding: 2em 0;
                   }
                }
            }
        }
        
        #addMovies{
            /* FORM */
            form{
                width: 70%;
                display: flex;
                flex-direction: column;
                margin: 2em auto;
                input, select{
                    background-color: $dark-color;
                    padding: 1em;
                    border-radius: 1em;
                    outline: none;
                    border: solid $green-color 3px;
                    color: $white-color;
                }
               
                input:nth-last-of-type(2){
                   word-wrap: break-word;
                   height: 10em; 
                }
                input:last-of-type{
                    color: $dark-color;
                    padding: 1em;
                    background-color: $green-color;
                }
                
            }
        }

    }
    footer{
       display: flex;
       justify-content: space-between;
       align-items: center;
       color: $dark-color;
       background-color: $green-color;
       padding: 3em;
       a{
           text-decoration: none;
           color: $dark-color;
       }
    }
}






